.footer {
  position: relative;
  background: var(--blue-color);
  width: calc(100% - 16px);
  padding: 16px 8px 12px;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  margin-top: 32px;

  &__text {
    font-size: 20px;
    color: #ffffff;

    &_pink {
      color: var(--pink-color);
      font-size: 24px;
    }
  }
}
