.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 8px 12px;
  height: 60px;
  background-color: var(--blue-color);
  color: #fff;

  &__title {
    font-family: var(--ff-roboto);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    text-decoration: none;

    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: inherit;
    }

    &_big {
      color: var(--dark-blue-color);
      font-size: 70px;
    }
  }
}
