.auth-form {
  max-width: 1100px;
  width: 100%;
  border: 1px solid var(--dark-blue-color);
  display: flex;
  flex-direction: column;
  padding: 35px;

  &__row {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__label {
    color: var(--dark-blue-color);
  }

  &__input {
    font-size: 25px;
    padding: 25px 0;
    border: none;
    border-bottom: 1px solid var(--blue-color);
    color: var(--blue-color);
  }

  &__button {
    max-width: 270px;
    width: 100%;
    height: 80px;
    background-color: var(--blue-color);
    color: #fff;
    border: none;
    border-radius: 20px 20px 20px 0;
    margin-left: auto;
  }
}
